body {
    background-color: #0e243c;	/* dark blue */
    overflow-y: hidden;
}

.navbar {
	background-color: #0e243c !important;		/* dark blue */
}

.navbar-brand, .nav-link{
	color: #fff;
	font-family: 'Oxygen', Sans-Serif;
}

a.nav-link:hover{
	border-bottom: 2px solid #E49A91;		/* pink */
	color: #fff;
	cursor: pointer;
}

.active{
	border-bottom: 2px solid #E49A91;		/* pink */
}

#header{
	margin-top: 5%;
	margin-bottom: 5%;
}

.form-control{
	font-family: 'Noto Serif', Serif;
}