body {
    background-color: #0e243c;	/* dark blue */
    overflow-y: hidden;
}

.navbar {
	background-color: #0e243c !important;		/* dark blue */
}

.navbar-brand, .nav-link{
	color: #fff;
}

a.nav-link:hover{
	border-bottom: 2px solid #E49A91;		/* pink */
}

.active{
	border-bottom: 2px solid #E49A91;		/* pink */
}

a:hover{
	color: #fff;
}

#header{
	margin-top: 5%;
	margin-bottom: 5%;
}