.nav-link{
	color: #fff !important;
	font-family: 'Oxygen', Sans-Serif;
}

a.nav-link:hover{
	border-bottom: 2px solid #E49A91;		/* pink */
	color: #fff;
	cursor: pointer;
}

.navbar-collapse{
	text-align: right;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#brand{
	width: 80;
}

li.active{
	border-bottom: 2px solid #E49A91;		/* pink */
}

#header{
	margin-top: 5%;
	margin-bottom: 5%;
}

.card{
	margin: 0 auto;
}

.foot{
    bottom: 0;
    position: absolute;
    width: 100%;
}

small{
	font-family: 'Noto Serif', Serif;
}

@media (min-width: 990px){
	.col-md-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
    }
}

@media (max-width: 989px){
	.col-sm-12{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom: 10px;
	}
}